html, body, header, main, section {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url("read.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    color: #efecef;
    background-color: rgba(220, 16, 220, 0.6);
    padding: 40px;
    text-align: center;
    position: fixed;
    top: 0; 
    width: 100%; 
}

header h1 {
    margin: 0;
    font-family: "lucida console";
    color: #efecef;
}


main {
    padding: 100px 30px 30px; 
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}


section {
    max-width: 400px;
    padding: 60px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 150px;
    margin-top: 50px;
    position: fixed; 
    top: 140px;
}
section h2 {
    margin-bottom: 20px;
    color: #0b0b0b;
}


.reader-section {
    text-align: center;
}

.scan-options {
    margin-top: 20px;
}

.scan-options button,
.scan-options input[type="file"],
.scan-options label {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #e42ab5;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.scan-options button:hover,
.scan-options input[type="file"]:hover,
.scan-options label:hover {
    background-color: #e42ab5;
}

.scan-options input[type="file"] {
    display: none;
}