html, body, header, main, section {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e42ab5;
    background-image: url("generate.jpg");
    background-size: cover; 
}

header {
    color: #efecef;
    background-color: rgba(220, 16, 220, 0.6);
    padding: 40px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: "lucida console";
    color: #efecef;
  }
  

main {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

section {
    max-width: 400px;
    padding: 70px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 20px;
}

.generator-section {
    font-size: large;
    font-family: garamond;
    max-width: 400px;
    max-height: 200;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 50px; 
    margin-top: 70px;
    margin-right: 60px;
}